body {
  background-color:#FFFFFF;
}

table {
  border-collapse: collapse;
  width: 55em;
  border: 1px solid #666;
}

thead {
  background:#F8F8FF;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
}

tbody {
  border-bottom: 1px solid #a5a5a5;
}

th,
td {
  padding: 1em;
  text-align: center;
}

tbody tr:hover {
  background-color:#228B22;
  color:#fff;
}